<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加管理员</title>
    <link href="__STATIC__/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__STATIC__/css/style.css"/>
    <link rel="stylesheet" href="__STATIC__/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="__STATIC__/assets/css/font-awesome.min.css"/>
    <link href="__STATIC__/Widget/icheck/icheck.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="__STATIC__/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-ie.min.css"/>
    <![endif]-->
    <script src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>
</head>

<body>
<div class="type_style">
    <div class="crumbs">
        <ul>
            <li>
                <a href="{:url('rbac/administrator')}">管理员列表</a>
            </li>
            <li class="uline">/</li>
            <li>
                <a class="active" href="javascript:;">添加管理员</a>
            </li>
        </ul>
    </div>
    <form action="" method="post" class="form form-horizontal">
        <div class="Operate_cont clearfix">
            <label class="form-label">用户名：</label>
            <div class="formControls ">
                <input type="text" class="input-text" value="" placeholder="" name="username" datatype="*"
                       nullmsg="用户名不能为空！">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <label class="form-label">密码：</label>
            <div class="formControls ">
                <input type="password" class="input-text" value="" placeholder="" name="password" datatype="*"
                       nullmsg="密码不能为空！">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <label class="form-label">状态：</label>
            <div class="formControls">
                <input type="radio" name="status" value="1" checked>启用
                <input type="radio" name="status" value="0">禁用
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <input class="btn btn-primary radius Operate_cont_btn" type="submit" value="提交">
        </div>
    </form>
</div>

<script type="text/javascript" src="__STATIC__/Widget/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript">
    $(function () {
        //表单验证
        $("form").Validform({
            tiptype: function (msg, o, cssctl) {
                if (!o.obj.is("form")) {
                    //默认表单
                    var objtip = o.obj.parents(".formControls").find(".Validform_checktip");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                }
            },
            showAllError: true
        })
    });
</script>
</body>
</html>