<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加管理员</title>
    <link href="__STATIC__/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__STATIC__/css/style.css"/>
    <link rel="stylesheet" href="__STATIC__/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="__STATIC__/assets/css/font-awesome.min.css"/>
    <link href="__STATIC__/Widget/icheck/icheck.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="__STATIC__/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-ie.min.css"/>
    <![endif]-->
    <script src="__STATIC__/js/jquery-1.9.1.min.js"></script>
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>
</head>

<body>
<div class="type_style">
    <div class="crumbs">
        <ul>
            <li>
                <a href="{:url('rbac/rule')}">规则列表</a>
            </li>
            <li class="uline">/</li>
            <li>
                <a class="active" href="javascript:;">添加规则</a>
            </li>
        </ul>
    </div>
    <form action="{:url('Rbac/addRule')}" method="post" class="form form-horizontal">
        <div class="Operate_cont clearfix">
            <label class="form-label">父规则：</label>
            <div class="formControls ">
                <select name="pid" id="" class="form-control" style="width:12%">
                    <option value="0">---无---</option>
                    {foreach $parent_rule as $rule}
                    <option value="{$rule.id}" {if condition="$rule.id eq $id" } selected {/if}>{$rule.title}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <label class="form-label">规则英文名：</label>
            <div class="formControls ">
                <input type="text" class="input-text" value="" placeholder="" name="name" datatype="*"
                       nullmsg="规则英文名不能为空！">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <label class="form-label">规则中文名：</label>
            <div class="formControls ">
                <input type="text" class="input-text" value="" placeholder="" name="title" datatype="*"
                       nullmsg="规则中文名不能为空！">
                <span class="Validform_checktip"></span>
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <label class="form-label">是否启用</label>
            <div class="formControls">
                <label for=""><input type="radio" name="status" value="1" checked>启用</label>
                <label for=""><input type="radio" name="status" value="0">禁用</label>
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <label class="form-label">导航栏是否显示</label>
            <div class="formControls">
                <label for=""><input type="radio" name="is_show" value="1" checked>显示</label>
                <label for=""><input type="radio" name="is_show" value="0">隐藏</label>
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <label class="form-label">规则描述</label>
            <div class="formControls ">
                <input type="text" class="input-text" value="" placeholder="" name="remark" datatype="*"
                       nullmsg="规则不能为空！">
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <label class="form-label">排序</label>
            <div class="formControls ">
                <input type="text" class="input-text" value="" placeholder="" name="sort" datatype="*"
                       nullmsg="排序不能为空！">
            </div>
        </div>
        <div class="Operate_cont clearfix">
            <input class="btn btn-primary radius Operate_cont_btn" type="submit" value="提交">
        </div>
    </form>
</div>

<script type="text/javascript" src="__STATIC__/Widget/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript">
    $(function () {
        //表单验证
        $("form").Validform({
            tiptype: function (msg, o, cssctl) {
                if (!o.obj.is("form")) {
                    //默认表单
                    var objtip = o.obj.parents(".formControls").find(".Validform_checktip");
                    cssctl(objtip, o.type);
                    objtip.text(msg);
                }
            },
            showAllError: true
        })
    });
</script>
</body>
</html>